body{
    padding: 20px;
    font-family: verdana;
}
.btn {
    width: 200px;
    padding: 6px;
    font-size: 20px;    
    background-color: lavender;
}
.btn:hover {
    background-color: rgb(157, 143, 212);
}
.active{
    background-color: rgb(255, 118, 20);
}
.blk1 {
    text-align: center;
    margin-top: 20px;    
    width: 600px;
    height: 400px;
    border: 2px dashed orangered;
    background-color: lightgreen;
}
.blk2 {
    text-align: center;
    margin-top: 20px;    
    width: 600px;
    height: 400px;
    border: 2px dashed orangered;
    background-color: rgb(233, 144, 238);
}
.hideblk{
    display: none;
}